.contact{
    padding-top: 5%;
    padding-bottom: 5%;

}
.contact-left {
    max-width: 600px; 
    margin: 0 auto; 
    padding: 20px;
    height: 100%;
    background-color: #f9f9f9; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.contact-left-title h2 {
    font-size: 24px; 
    margin-bottom: 10px; 
    color: #333; 
}

textarea.contact-inputs {
    height: 100px; 
}

.contact-left-title hr {
    border: 1px solid #f4b400; 
    margin: 10px 0; 
}

.contact-inputs {
    width: 100%; 
    padding: 12px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
}
.contact-left button {
    width: 100%; 
    padding: 12px; 
    border: none; 
    border-radius: 5px; 
    background-color: #f4b400; 
    color: white; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.contact-left button:hover {
    background-color: #f4b400; 
}
