/* Container for the contact form */
.contact{
    padding-top: 5%;
    padding-bottom: 5%;

}
.contact-left {
    max-width: 600px; /* Μέγιστο πλάτος της φόρμας */
    margin: 0 auto; /* Κεντράρισμα της φόρμας */
    padding: 20px;
    height: 100%;
    background-color: #f9f9f9; /* Ελαφρύ χρώμα φόντου */
    border-radius: 8px; /* Στρογγυλεμένες γωνίες */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Σκιά για βάθος */
}

/* Title of the contact form */
.contact-left-title h2 {
    font-size: 24px; /* Μέγεθος γραμματοσειράς */
    margin-bottom: 10px; /* Απόσταση κάτω από τον τίτλο */
    color: #333; /* Σκούρο χρώμα κειμένου */
}

textarea.contact-inputs {
    height: 100px; /* Ύψος για το textarea */
}

.contact-left-title hr {
    border: 1px solid #f4b400; /* Χρώμα και πάχος της γραμμής */
    margin: 10px 0; /* Απόσταση πάνω και κάτω από την γραμμή */
}

/* Styling for form inputs */
.contact-inputs {
    width: 100%; /* Πλάτος της φόρμας πλήρες */
    padding: 12px; /* Εσωτερικό περιθώριο */
    margin-bottom: 15px; /* Απόσταση κάτω από κάθε πεδίο */
    border: 1px solid #ccc; /* Χρώμα και πάχος του πλαισίου */
    border-radius: 5px; /* Στρογγυλεμένες γωνίες */
    font-size: 16px; /* Μέγεθος γραμματοσειράς */
}

/* Styling for the submit button */
.contact-left button {
    width: 100%; /* Πλάτος πλήρες */
    padding: 12px; /* Εσωτερικό περιθώριο */
    border: none; /* Καταργεί το πλαίσιο */
    border-radius: 5px; /* Στρογγυλεμένες γωνίες */
    background-color: #f4b400; /* Χρώμα φόντου */
    color: white; /* Χρώμα κειμένου */
    font-size: 16px; /* Μέγεθος γραμματοσειράς */
    cursor: pointer; /* Δείκτης χεριού */
    transition: background-color 0.3s ease; /* Ομαλή μετάβαση χρώματος φόντου */
}

.contact-left button:hover {
    background-color: #f4b400; /* Σκούρο μπλε για hover εφέ */
}
